/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Martian+Mono:wght@400;600&family=Open+Sans:ital,wght@0,500;1,800&display=swap');

  

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #006d77   ;
  --secondary-color: #83c5be ;
  --accent1-color: #edf6f9;
  --accent2-color: #f3bcaa;

  /* change the values below to your chosen font(s) */
  --heading-font: "AR one sals";
  --paragraph-font: "Martian Mono";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #264580;  /* headlines on a white background */ 
  --headline-color-on-color: #f4ffa3; /* headlines on a colored background */ 
  --paragraph-color-on-white: #276a9b; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #1f1919; /* paragraph text on a colored background */ 
  --paragraph-background-color: #7090a5  ;
  --nav-link-color: #d8e3eb;
  --nav-background-color: #4d6772;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #327EB5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--accent1-color);
}

header {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color); 
    padding: 10px;
    text-align: center;
}

.back-button {
    color: var(--nav-hover-link-color); 
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    margin: 0;
    color: var(--headline-color-on-color); 
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

section img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--primary-color);
}

.text-container {
    max-width: 40%;
    padding: 20px;
    border: 2px solid var(--primary-color);
    margin-bottom: 20px;
    background-color: var(--paragraph-background-color); 
    padding: 10px; 
}

.project-container {
    height: 350px;
    
}

.project-text h1 {
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
    padding: 0px;
}

.interior-design-text {
    background-color: var(--paragraph-background-color);  
    padding: 10px;
     
}

.interior-design-text h1 {
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
    padding: 10px;
}

.pool-design-text {
    background-color: var(--paragraph-background-color);
    padding: 10px;
    
}

.pool-design-text h1 {
    color: var(--headline-color-on-color);
    padding: 10px;
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
    
}

footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 10px;
    text-align: center;
}

footer a {
    color: var(--nav-link-color);
    text-decoration: none;
}
